.Blocks{
    display: flex;
    flex-flow: column wrap;
}
.main-container, .main-container2, .main-container3{
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    width: 100%;
}
.container{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
    width: 250px;
    margin: 3px 3px 3px 3px;
}
.items{
    flex-basis: 50px;
    margin: 3px 3px 3px 3px;  
}

