.flex-container, .flex-container2, .flex-container3{
    display: flex;   
    color: white; 
    font-weight: bold;
    font-style: solid;
}
.flex-items{
    width: 100%;
    height: 150px;
    background-color:chocolate;
    margin: 3px 3px 3px 3px;
    border-radius: 3px;
    justify-content: center;
    padding: 3px;
}
.flex-items2{
    width: 100%;
    height: 40px;
    background-color:chocolate;
    margin: 3px 3px 3px 3px;
    border-radius: 3px;
    justify-content: center;
    padding: 3px;
}
.flex-items3{
    width: 100%;
    height: 40px;
    background-color:chocolate;
    margin: 3px 3px 3px 3px;
    border-radius: 3px;
    justify-content: center;
    padding: 3px;
}
.flex-sub-container1, .flex-sub-container2, .flex-sub-container3{
    display: flex;
}
.flex-sub-items{
    width: 100%;
    height: 30px;
    background-color: white;
    margin: 3px;
    border-radius:3px;
    color: chocolate;
    justify-content: center;
    padding: 3px;
    font-style: solid;
}